.tech__tools {
  display: inline-grid;
  width: 100%;
  justify-content: center;
  grid-template-columns: 80px 80px 80px;
  gap: 0.8rem;
  padding: 0.8rem;
}
.tools {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-radius: 4px;
  background: var(--small-bg-color);
  padding: 0.7rem;
  width: 80px;
  height: 80px;
  transition: all 0.3s ease;
}
.tools:hover {
  background: var(--title-color-dark);
}
.tools img {
  width: 50px;
  padding: 0.7rem;
}
.tools p {
  font-size: 0.6rem;
  letter-spacing: 1px;
  font-weight: 500;
  color: #18cdca;
}

@media screen and (min-width: 600px) {
  .tech__tools {
    grid-template-columns: repeat(5, 80px);
    gap: 2rem;
  }
}
@media screen and (min-width: 768px) {
  .tech__container {
    grid-template-columns: repeat(5, 100px);
    gap: 1.2rem;
  }
  .tools {
    width: 100px;
    height: 100px;
  }
  .tools img {
    width: 55px;
  }
  .tools p {
    font-size: 0.7rem;
  }
}
@media screen and (min-width: 1096px) {
  .tech__tools {
    grid-template-columns: repeat(5, 120px);
    gap: 1.2rem;
  }
  .tools {
    width: 120px;
    height: 120px;
  }
  .tools img {
    width: 65px;
  }
  .tools p {
    font-size: 0.9rem;
  }
}
@media screen and (min-width: 1450px) {
  .tech__tools {
    grid-template-columns: 150px 150px 150px 150px 150px;
    gap: 1.4rem;
  }
  .tools {
    width: 150px;
    height: 150px;
    border-radius: 6px;
  }
  .tools img {
    width: 80px;
  }
  .tools p {
    font-size: 1rem;
  }
}
